
.form{
    background-color: white;
    width: 350px;
    height: 250px;
    margin: 20px auto;
    padding: 10px;
}

.form-body{
    border: solid rgb(13, 192, 192);
    border-width: 5px;
    background-color: white;
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.btn { /* Green */
    font-size: 20px;
}

.footer{
    margin-top: 10px;
    text-align: center;
}